{% extends 'base.html.twig' %}

{% block title %}Etats
{% endblock %}

{% block body %}
	<h1>Etats</h1>
	<div class="reports">
		<p>Rapport des ventes</p>
		<p>Tendances des ventes</p>
		<p>Etat des Stocks</p>
		<!-- Note !!! à completer avant remises  -->
	</div>
{% endblock %}
