{% extends 'base.html.twig' %}

{% block title %}Paiement
{% endblock %}

{% block body %}
	<h1>Paiement</h1>
	<form action="{{ path('checkout') }}" method="post">
		<button type="submit" class="btn">Valider le paiement</button>
	</form>
{% endblock %}
